<div class="container-fluid">
  <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-3 col-lg-2 sidebar">
          <h3 class="text-center py-3">Schooling</h3>
          <div class="accordion" id="sidebarMenu">
              <div class="accordion-item">
                  <h2 class="accordion-header">
                      <button class="accordion-button collapsed bg-dark text-white" type="button"
                          data-bs-toggle="collapse" data-bs-target="#adminMenu" aria-expanded="false"
                          aria-controls="adminMenu">
                          Admin
                      </button>
                  </h2>
                  <div id="adminMenu" class="accordion-collapse collapse">
                      <div class="accordion-body bg-dark">
                          <a routerLink="add-student" id="addStudent">Add Student</a>
                          <a routerLink="add-employee" id="addEmployee">Add Employee</a>
                      </div>
                  </div>
              </div>
          </div>
      </nav>

      <!-- Main Content -->
      <main class="col-md-9 col-lg-10 main-content">
          <div id="content">
              <router-outlet></router-outlet>
          </div>
      </main>
  </div>
</div>